<ion-view view-title="{{imagen.Titulo}}">
  <ion-content>

		 <div class="gem-profile-media3">
						    
  <!-- 
      <ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
        <div style="width: 5000px; height: 5000px; background: url('//upload.wikimedia.org/wikipedia/commons/a/ad/Europe_geological_map-en.jpg') repeat"></div>
      </ion-scroll>
  -->

   

     <ion-scroll  zooming="true" direction="xy" style="max-height: 400px">
   
    <div class=""><img class="full-image imageOne image zindex ov2" ng-src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{imagen.Imagen}}"/>
</div>
<!--     <div class=""><img class="full-image galeriablur blur" ng-src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{imagen.Imagen}}" />

</div> -->
</ion-scroll>

						    </div>

    <div class="list card">

    <div class="item item-body">
    <div class="corazon">
 <span ng-hide="EventRunning"><button class="button button-clear icon ion-heart" ng-click="StartEvent($event)" id="btnEventStart"></button></span>
 <span ng-show="EventRunning"><button class="button button-clear icon ion-heart button-assertive" ng-click="StopEvent($event)" id="btnStopEvent"></button></span>
      </div>
<!-- <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings> -->



 

    </div>
			
  <div class="item item-body">

      <h1>{{imagen.Titulo}}</h1>
      Por <a href="#/app/comunidad/{{imagen.IdUsuario}}">{{imagen.username}}</a> - 2016-06-16 03:07:40<br>
      <p>{{imagen.Descripcion}}</p>
    <p>
  <a href="#" class="subdued"  ng-click="abrirFavoritos(imagen)"><i class="ion-heart"></i> {{imagen.favoritos.length}} Favoritos</a>
       
      <a href="#" class="subdued"><i class="ion-chatbox"></i> {{imagen.comentarios.length}} Comentarios</a>
<!--        <a href="#" class="subdued"> <i class="ion-android-done-all"></i>  60 Vistos</a> -->
    </p>

<ion-thread comments="comments" post="post"></ion-thread>
  <div class="list list-inset">



    <label class="item item-input fondoinput">
           <input type="text" placeholder="Escriba su comentario" ng-model="newCommentario.text" ></textarea>
     </label>
     <button class="button button-block button-balanced" ng-click="guardarComentario(newCommentario)">
      Comentar
     </button>
    </div>
  
   <ion-item ng-repeat="comentario in imagen.comentarios track by comentario.id" class="item item-thumbnail-left">
     <img ng-src="http://res.cloudinary.com/hyktxhgfc/image/upload/{{comentario.imagen}}" alt="" > 
      <a href="#/app/comunidad/{{comentario.idusuario}}"><h2>{{comentario.username}}</h2></a>
       <p>{{comentario.text}}</p>
       <h4 class="comentariosimg item-note"><i class="icon ion-clock"></i>{{comentario.created_at}}</h4>
   </ion-item>












<script id="templates/modal.html" type="text/ng-template">
        <ion-modal-view>

          <ion-header-bar class="bar bar-dark bar-header">
            <h1 class="title">Personas a las que les gusto {{viewImagen.Titulo}}</h1>
            <button class="button button-clear button-primary" ng-click="modal.hide()">Cerrar</button>
          </ion-header-bar>

          <ion-content class="padding">


     <ion-item ng-repeat="favorito in imagen.favoritos track by favorito.id" class="item item-thumbnail-left">
       <img src="img/avatar/{{favorito.imagen}}" alt=""  width="32" height="32">
       <h2>{{favorito.username}}</h2>
   
   
   </ion-item>
                      
           
           
          </ion-content>
        </ion-modal-view>
    </script>





 <!-- 
    <div class="list">
     <ion-list>
       <ion-item ng-repeat="comentario in viewImagen.comentarios track by comentario.id" class="item item-avatar">
         <img src="img/paintprogram.png" alt="" class="img">
         <h2>{{comentario.name}}</h2>
         <p>{{comentario.text}}</p>
         <h4 class="item-note"><i class="icon ion-clock"></i>{{comentario.created_at}}</h4>
       </ion-item>
     </ion-list>
   </div>
  -->
  
    </div>
     
 
 </ion-content></ion-view>
 
   