<!-- Title for the ion view -->
<ion-view title="Escribir mensaje">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <!-- ======================
  END LEFT SIDE BUTTON
  ====================== -->

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <!-- ======================
  EMD RIGHT SIDE BUTTON
  ====================== -->
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content">
    <!-- ======================
    GEMIONIC EDIT SECTION
    ====================== -->

      <div class="list card">

  <div class="item">
   

    <h2>{{mensaje.name}}</h2>
    <p>{{mensaje.created_at}}</p>
    
  </div>
  
  <div class="item item-body">
     <h2>{{mensaje.asunto}}</h2>
    <p>
     {{mensaje.msj}}
    </p>
   
  </div>
   <a class="linksinestilo" href="#/app/mensajeprivado/{{mensaje.from}}"><button  class="button button-block button-balanced">Responder</button></a>
         <button  ng-click="doBorrar()" class="button button-block button-assertive">Borrar mensaje</button>
  
</div>

        
       
      
   
    <!-- ======================
    END GEMIONIC EDIT SECTION
    ====================== -->
  </ion-content>
  <!-- ======================
  END MAIN CONTENT SECTION
  ====================== -->
</ion-view>
