<!-- View header bar is hidden using attribute 'hide-nav-bar="true"' -->
<ion-view title="Registrarse" hide-nav-bar="true">
  <!-- Splash background - refer to .gem-splash_background in css/style.css to change image -->
  <ion-content class="gem-splash_background">
    <div class="gem-form ">
      <!-- Logo as you please -->
      <div class="gem-splash-logo">
        <img src="img/gemionic/gem-logo.png" alt="Logo" width="100">
        <h3 class="gem-white">PixelEsp</h3>
      </div>
      <!-- end Logo -->

    <form ng-submit="doRegister()" name="myForm" novalidate>
      <div class="list fondoinicio">
      
          <label class="item item-input">
          <input name ="username" type="text" ng-model="usuario.username" placeholder="Usuario *"  ng-minlength="5"  required>
        </label>
         <label class="item item-input">
          <input name ="email" type="text" ng-model="usuario.email" placeholder="Email *"  ng-minlength="8"  required>
        </label>
        <label class="item item-input">
          <input name ="password" type="password" ng-model="usuario.password" placeholder="Contraseña *" ng-minlength="4" required>
        </label>

                  <span class="item validaciones" ng-show="myForm.username.$error.minlength">Tu nombre de usuario tiene que ser mas largo que 5 caracteres</span>
            
            <span class="item validaciones" ng-show="myForm.email.$error.minlength">Tu email tiene que ser válido</span>
            
            <span class="item validaciones" ng-show="myForm.password.$error.minlength">Tu contraseña tiene que tener más 5 caracteres</span>
      
   



         <label class="item">
          <button ng-disabled="myForm.$invalid" class="button button-block button-balanced">Registrarse</button>
        </label>
    </form>


        <label class="item">
          <a href="#/app/start" class="linksinestilo" target="_self"><button class="button button-block button-royal">Ya estoy registrado!</button></a>
        </label>
   </div>

      <!-- buttons. .button-rounded can be added for more roundness -->

      <!-- end buttons -->
    </div>    
  </ion-content>
</ion-view>