<ion-view title="PixelEsp" >
<ion-nav-buttons>
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="right">
    <a href="#/app/creartrabajo" target="_self" button class="button button-icon icon ion-compose"> Crear empleo</button></a>
  </ion-nav-buttons>

  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content" >

   <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="Query" >
      </label>
    </div> 


    <!-- Media section (Picture, Video, Map, etc) -->
<!-- End Media section --> 

    <!-- News Item (With Poster and content text summary) -->
        <ion-list ng-repeat="trabajo in trabajos | filter:Query" >
      <ion-item ng-click="abrirComentarios(trabajo)" class="item item-thumbnail-left">
    
      <!-- Poster Thumb -->
   
        <img src="img/avatar/{{trabajo.imagen}}" alt="" class="img">
   
      <!-- End Poster -->

      <!-- Content -->

      <div class="news-content">
        <h2>{{trabajo.Titulo}}</h2>
                   <h4>
          Por <a href="#" >{{trabajo.username}}</a> - <i class="icon ion-clock"></i> {{trabajo.created_at}}</h4>

       <p>{{trabajo.Descripcion}}</p>


        <!-- Stat Section -->
        <div class="other-stats" >
                <div class="news-more-action">
        <i class="icon ion-more"></i>

      

</div>


<div class="floatright">
      <h4 class="item-note"><i class="ion-chatbox"></i> 82 -  <i class="ion-android-done-all"></i> 90 vistos -  <i class="ion-android-share-alt"></i></h4></div>
<div class="floatleft">
 
        </div>
        

        </div> </ion-item><div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#" ng-click="count = count + 1" ng-init="count=0" >
              <i class="icon ion-tshirt balanced"></i>
              Aplicar
            </a>
            <a class="tab-item"  ng-click="abrirComentarios(trabajo)">
              <i class="icon ion-chatbox balanced"></i>
            Comentar
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share balanced"></i>
              Compartir
            </a>
          </div>

    </ion-list>

    <script id="templates/modal.html" type="text/ng-template">
        <ion-modal-view>
          <ion-header-bar class="bar bar-dark bar-header">
            <h1 class="title">Comentarios - {{viewEmpleo.Titulo}}</h1>
            <button class="button button-clear button-primary" ng-click="modal.hide()">Cerrar</button>
          </ion-header-bar>

          <ion-content class="padding">
              <ion-item class="item item-thumbnail-left" >
            <img src="img/avatar/{{viewEmpleo.imagen}}" alt="" class="img">
          <div class="news-content">
              <h2>{{viewEmpleo.Titulo}}</h2>

              <h4>
                por <a href="#">{{viewEmpleo.username}}</a> - <i class="icon ion-clock"></i>{{viewEmpleo.created_at}}
              </h4>
             <p>{{viewEmpleo.Descripcion}}</p>


              <!-- Stat Section -->
              <div class="other-stats" >
                      <div class="news-more-action">

            
</div>
      </div>

</div> 
</ion-item>
            <div class="list">
              <label class="item item-input">
                <textarea rows="1" placeholder="Escriba su comentario" ng-model="newCommentario.text" ></textarea>
              </label>
              <button class="button button-full button-dark" ng-click="guardarComentario(newCommentario)">Comentar</button>
            </div>
          
            <ion-list>
              <ion-item ng-repeat="comentario in viewEmpleo.comentarios track by comentario.id"  class="item item-thumbnail-left">
                <img src="img/avatar/{{comentario.imagen}}" alt="" >
                <h2>{{comentario.username}}</h2>
                <p>{{comentario.text}}</p>
                <h4 class="item-note"><i class="icon ion-clock"></i>{{comentario.created_at}}</h4>
             </ion-item>
            </ion-list>
          </ion-content>
        </ion-modal-view>
    </script>
     </div>

      <!-- End Content --></div>


      <!-- Mock trigger button for action sheet for this post -->
    
      <!-- End Button -->

   
     </ion-item>
    </ion-list>


    <!-- End News Item -->

    <!-- News Item (For Album Art, Artist Name and Player) -->

  </ion-content>
</ion-view>