<ion-view title="PixelEsp" >
<ion-nav-buttons>
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="right">
    <a href="#/app/crearimagen" target="_self" button class="button button-icon icon ion-compose"> Crear imagen</button></a>
  </ion-nav-buttons>
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->





  <ion-content>
   
 <div id="container"  class="js-packery packery"
  data-packery-options='{ "itemSelector": ".itemp", "gutter": 10 }'  ng-repeat="imagen in imagenes">
  <div class="itemp"><img src="img/imagenes/{{imagen.Previa}}" alt="{{imagen.Titulo}}" class="img"></div>
</div>

   <div id="container" class="js-packery" data-packery-options='{ "itemSelector": ".itemp", "gutter": 10 }'> <!-- End News Item -->
<div ng-repeat="imagen in imagenes">
  <!-- items have itemp-content children element -->
  <div class="itemp">
    <div class="itemp-content"><img src="img/imagenes/{{imagen.Previa}}" alt="{{imagen.Titulo}}" class="img"></div>
  </div>
    <!-- News Item (For Album Art, Artist Name and Player) -->
</div></div>

<div class="packery">
  <div class="itemp">
    <div class="itemp-content"></div>
  </div>
  <div class="itemp">
    <div class="itemp-content"></div>
  </div>
  <div class="itemp">
    <div class="itemp-content"></div>
  </div>
  <div class="itemp">
    <div class="itemp-content"></div>
  </div>
  <div class="itemp">
    <div class="itemp-content"></div>
  </div>
  <div class="itemp">
    <div class="itemp-content"></div>
  </div>
  <div class="itemp">
    <div class="itemp-content"></div>
  </div>
  <div class="itemp">
    <div class="itemp-content"></div>
  </div>
  <div class="itemp">
    <div class="itemp-content"></div>
  </div>
  <div class="itemp">
    <div class="itemp-content"></div>
  </div>
  <div class="itemp">
    <div class="itemp-content"></div>
  </div>
  <div class="itemp">
    <div class="itemp-content"></div>
  </div>
  <div class="itemp">
    <div class="itemp-content"></div>
  </div>
  <div class="itemp">
    <div class="itemp-content"></div>
  </div>
  <div class="itemp">
    <div class="itemp-content"></div>
  </div>
</div>


  </ion-content>
</ion-view>